{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div {{ react_component('MyComponent', { 'fullName': "sd" }) }}></div>
    <div id="root"></div>
{% endblock %}
